# macOS
.DS_Store

# Swift Package Manager
.build/
.build-xcode/
.swiftpm/
Package.resolved

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
build/

# Xcode - user-specific / generated
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Injected by CI / tooling
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
